# set your user tokens as environment variables, such as ~/.secrets
# See the README for examples.
[color]
  ui = auto

[alias]
  up = pull --rebase
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --graph --decorate --oneline
  lt = describe --abbrev=0 --tags
  put = !git up && git push origin HEAD
  lg =  log --decorate --oneline --graph
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[user]
  name = Zipofar
  email = zipofar@gmail.com
[core]
	editor = nvim
	excludesfile = .gitexcludes
        excludesfile = ~/.gitexcludes
[push]
    default = current
